/* ===========================
   Google Font
=========================== */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ===========================
   Reset
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* ===========================
   Body
=========================== */

body{

    background:#f4f7fc;

    color:#222;

    line-height:1.8;

}

/* ===========================
   Headings
=========================== */

h1{

    font-size:55px;

    color:#0b3d91;

    text-align:center;

    margin-top:40px;

}

h2{

    color:#0b3d91;

    margin-top:40px;

    margin-bottom:15px;

}

h3{

    text-align:center;

    font-weight:500;

}

/* ===========================
   Paragraph
=========================== */

p{

    font-size:18px;

    margin-bottom:15px;

}

/* ===========================
   List
=========================== */

ul{

    margin-left:25px;

}

li{

    margin-bottom:10px;

}

/* ===========================
   Section
=========================== */

section{

    max-width:1100px;

    margin:auto;

    padding:50px;

}

/* ===========================
   Horizontal Line
=========================== */

hr{

    margin:40px 0;

    border:1px solid #ddd;

}

/* ===========================
   Contact
=========================== */

#contact{

    background:white;

    padding:40px;

    border-radius:12px;

    box-shadow:0px 10px 25px rgba(0,0,0,0.1);

}

/* ===========================
   Footer
=========================== */

footer{

    text-align:center;

    padding:25px;

    background:#0b3d91;

    color:white;

    margin-top:50px;

}
/* ================= NAVBAR ================= */

.navbar{

display:flex;

justify-content:space-between;

align-items:center;

background:#0B3D91;

padding:18px 60px;

color:white;

}

.navbar ul{

display:flex;

list-style:none;

gap:30px;

}

.navbar a{

text-decoration:none;

color:white;

font-weight:600;

}

.navbar a:hover{

color:#FFD54F;

}

/* ================= HERO ================= */

.hero{

padding:80px;

text-align:center;

background:#EAF2FF;

}

.hero h1{

font-size:60px;

color:#0B3D91;

}

.hero h2{

color:#444;

margin-top:10px;

}

.hero p{

margin-top:20px;

font-size:20px;

}
/* ================= Buttons ================= */

.hero-buttons{

margin-top:40px;

}

.btn{

display:inline-block;

padding:14px 28px;

background:#0B3D91;

color:white;

text-decoration:none;

margin:10px;

border-radius:8px;

font-weight:600;

transition:.3s;

}

.btn:hover{

background:#FFD54F;

color:black;

transform:translateY(-3px);

}
